@font-face {
  font-family: 'spinshopping_social';
  src:  url('../fonts/spinshopping_social.eot?xu7984');
  src:  url('../fonts/spinshopping_social.eot?xu7984#iefix') format('embedded-opentype'),
    url('../fonts/spinshopping_social.ttf?xu7984') format('truetype'),
    url('../fonts/spinshopping_social.woff?xu7984') format('woff'),
    url('../fonts/spinshopping_social.svg?xu7984#spinshopping') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-location ,.icon-seller-contact, .icon-edit,
.icon-social-other, .icon-social-move, .icon-profile,
.icon-profile, .icon-font-copy-10, .icon-find-friend{
  font-family: 'spinshopping_social' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-location:before {
  content: "\e93b";
}
.icon-seller-contact:before {
  content: "\e93c";
}
.icon-edit:before {
  content: "\e93d";
}
.icon-social-other:before {
  content: "\e93f";
}
.icon-social-move:before {
  content: "\e940";
}
.icon-profile:before {
  content: "\e941";
}
.icon-font-copy-10:before {
  content: "\e909";
}
.icon-find-friend:before {
  content: "\e942";
}

