/*  Catelog page */

.content-info-list {
	float: left; background: $white; border:1px solid $grey2;
	width: 190px; margin-right: 15px; margin-left:5px;
	font-size: $font-16; margin:40px 15px 5px 5px;
	h3 {
		font-size: $font-16; padding:8px 14px; display: block; border-bottom: 1px solid $grey2;
		margin-bottom: -1px;
	}
	li {
		a {
			padding:8px 15px; display: block; border-top:1px solid transparent; border-bottom:1px solid transparent;
			i {
				float: right; font-size: $font-14; display: none;
			}
			&:hover {
				background:$grey4 ; color: $grey; border-color: $grey2;
			}
			&:hover i {
				color: $grey;
			}
		}
		&.active {
			a {
				background:$grey4 ; color: $grey; border-color: $grey2;
				i {
					display: block; color: $grey;
				}
			}
		}
	}
}
.content-mid-right {
	float: left; 
	width: 500px; width: calc(100% - 210px); padding-bottom: 10px;
	input[type="submit"] {
		min-width: 225px;
	}
}
.product-select {
	.radio-wrap {
		margin-right: 25px;
	}
}
.help-catalog {
	margin-top: 35px;
}
.custom-thumb-img {
	width: 90px; text-align: center; position: relative; margin-top: 5px;
	.thumb-imgWrapper {
		border:1px solid $grey2; display: block;		
		img {
			max-height: 90px;
		}
	}
	input[type="file"] {
		position: absolute; left: 0; top: 0; opacity: 0; cursor: pointer;
		width: 100%; height: 100%; position: absolute; 
	}
}
.video-uploadImg {
	padding-top: 6px;
	.multiple-file-upload {
		margin-top: 5px;
	}
}

/*  Tree Menu */

.tree-menu {	
	min-height: 100px; max-height: 400px;
	margin: 15px 0;	 max-width: 600px;	overflow-y: auto;
	.tree {
		.expandCollapse {
			background: #8dd3d0; color: $white; text-align: center;
			border:1px solid $skyblue; width: 14px; height: 14px; 
			float: left; cursor: pointer; margin-right: 5px;
			i {
				top: 0px;
			}
		}
		li {
			padding-top: 5px;
		}
		.checkLabel {
			line-height: 1;  vertical-align: top; display: inline-block;
		}
		input[type="checkbox"] {
			position: absolute; visibility: hidden;
		}
		input[type="checkbox"]+.chekboxbg {
			background: url("../images/checkbox-unchecked.png") left 1px no-repeat;
			width: 16px; height: 16px; display: inline-block; position: relative;
			z-index: 1;
		}
		input[type="checkbox"]:checked+.chekboxbg {
			background: url("../images/checkbox-checked.png") left 1px no-repeat;
		}
		.tree {
			margin-left: 18px;

			li {
				&:after,&:before {
					left:-10px;
				}
				&:after{
					top:14px;
				}
			}
		}
		.listName  {
			background: url('../images/folder.png') left 2px no-repeat;
			margin-left: 3px;
	    	padding-left: 14px;
		}
	}
}
.tree {
  min-height:20px; margin-bottom:5px;
  li { 
  	font-size: $font-14; margin:0;  padding:8px 0px 0 1px;  position:relative;
  	ul {
  		margin-left: 12px;
  	}
  	a {
  		display:inline-block;  padding: 0px; line-height: 12px;
  	}
  	svg,i {
		float: left; margin-right: 5px; position: relative; z-index: 1;
  	}
	}
	.glyphicon-minus,.glyphicon-plus {
		background: $skyblue-light; color: $white;
		border:1px solid $skyblue; padding:1px;
		font-size: 8px; margin-right:3px; top: 0;
	}
	.glyphicon-folder-open {
		font-size: $font-12; color: $skyblue-light; 
		margin-right: 5px;
	}
	.tree {
		margin-bottom: 0;
	}
}
.tree li::before, .tree li::after {
  content:'';    left:-6px;    position:absolute;    right:auto
}
.tree li::before {
  border-left:1px dashed $grey2; bottom:50px; height:100%; top:0; width:1px
}
.tree li::after {
  border-top:1px dashed $grey2; height:18px; top:17px; width:15px
}
.tree li.parent_li>span {
  cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
  border:0
}
.tree li:last-child::before {
  height:15px
}
.template-editor-select {
	padding: 10px 0;
	select {
		float: right; width: 200px;
	}
	.chosen-container {
		float: right; max-width: 200px;
	}
}
.prod-advSetting {
	label{
		h3 {
			font-family: $font-cloud-b;
		}
	}
	.advance-setting {
		padding-bottom:10px; border:1px solid $grey2;
		background: $grey7; padding:10px 15px 10px 15px;
		margin-bottom: 15px;
		label.checkbox-label {
			font-family: $font-cloud-b;
		}
	}
	.advance-setting-option {
		.chosen-container  {
			width: 100% !important;
		}
	}
}
.catelog-ship-box {
	max-width: 575px; width: 100%;
	padding:5px 0;
	.check-row {
		padding:2px 0;
	}
	.tab-box, button {
		margin-top: 7px;
	}
	.custom-select {
		width: 175px;
	}
	.condition-rulebox {
		padding:15px 10px 12px 10px;
		.custom-select {
			width: 45%;
		}		
		.row {
			margin-bottom: 10px;
			label {
				padding-top: 6px;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}		
	}
	.cate-ship-name {
		.tab-list {
			margin-bottom: 6px;
		}
	}
	.original-group {
		.tab-list  {
			margin-bottom: 8px;
			li {
				line-height: 8px;
			}
		}
		.tab-content {
			margin-bottom: 15px;
		}
		.col-sm-1 {
			padding-top: 15px;
		}
	}
}

.lang-group-box {
	.tab-list  {
		margin-bottom: 8px;
		li {
			line-height: 8px;
		}
	}
	.tab-content {
		margin-bottom: 15px;
	}
	.col-sm-1 {
		padding-top: 15px;
	}
}
.category-ship-table {
	.table {
		li {
			&:first-child {
				border-right:none; width:18px;
				padding-right: 0;
			}
			&:nth-of-type(2) {
				border-left: none; text-align: center;
			}
			&+li+li+li {
				text-align: center; min-width: 110px;
			}
		}
	}
}
.special-price-date {
	position: relative;
	input[type="number"] {
		width: 100%;
	}
	label {
		display: inline-block; margin-right: 7px;
	}
	.date {
		padding:0 5px;
	}
	.date input {
		max-width: 58%; display: inline-block;
	}
	.spinner {
		width: 100%;
	}
}

/*  File upload */

.multiple-file-upload {
	border:1px solid $grey2; background: $grey7;
	margin-bottom: 10px; max-width: 600px;	
	.files {
		input[type="radio"] {
			margin:8px 0 0 8px;
		}
	}
	.upload-row {
		border-bottom: 1px solid $grey2; padding:5px 10px;
		display: inline-block; width: 100%;
	}
	.fileupload-buttonbar {
		padding:10px;
		.btn-md {
			font-size: $font-16;
		}
		.fileinput-button {
			margin-right: 5px;
		}
	}
	td {
		border-left: none; border-right: none; vertical-align: top;
		button {
			i {
				font-size: $font-10;
			}
		}
		canvas {
			width: 40px; height: 40px; border:1px solid $grey2;
		}
		.name {
			color: $skyblue; margin-bottom: 2px; font-size: $font-16;
			max-width: 350px; overflow: hidden; text-overflow: ellipsis;
			white-space: nowrap;
		}
		p.size {
			margin-bottom: 0;
		}
		strong.error  {
			color: $red2;
		}
		&:first-child {
			width: 78px;
			.preview {
				float: left;
			}
		}
		.btn-danger {
			color: $red2; border:none; background: transparent;
			span {
				color: $grey; margin:3px;
				&:hover {
					color:$red;
				}
			}
		}
	}
	i {
		color: $white; font-size: $font-14;
	}
	.fileupload-buttonbar {
		.cancel {
			color: $grey; float: right;
			i {
				color: $grey; font-size: $font-12; margin-right: 4px;
			}
		}
	}
	.file-upload-btn {
		height: 40px; border:1px solid $grey2; float: left;
		&:hover {
			opacity:0.8;
		}
	}
}

/* Add new item */

.catelog-create-sku {
	.detail-box-content {
		width: 80%;
	}
	.product-tag {
		.btn-md {
			white-space: nowrap; overflow:hidden; text-overflow: ellipsis;
		}
	}
	.initial-price {
		.spinner {
			width: 100%;
			input[type="number"],input[type="text"] {
				width: 100%; max-width: 100% !important;
			}
		}
	}
}
.market-catagories {
	width: 75%; max-width: 600px;
}
.tier-price-box {
	border:1px solid $skyblue; padding:10px 11px 12px 11px; max-width: 525px;
	margin-top: 5px;
	.col-tier {
		float: left;
	}
	.tier-price-row {
		padding-top: 10px; clear: both;
		&:first-child {
			padding-top:0;
		}
	}
}
.add-another {
	width: 100%; clear: both; padding: 12px 0 5px 0;
	.btn-md {
		font-size: $font-16;
	}
}
.detail-box {
	.tier-price-row {
		.spinner {
			width: 125px;
		}
		input[type="text"] {
			width: 125px; margin-right: 5px;
		}
		.morend {
			padding-right: 15px;
		}
		.btn-md {
			font-size: $font-16;
		}
		.icon-remove {
			color: $white; font-size: $font-12; margin-right: 2px;
		}
	}
}
.unlimit-stock-label {
	padding-top: 8px;
}
.advance-setting {
	padding:5px 0;
	label {
		font-size: $font-20; line-height: 22px !important;
	}
}
.catelog-mgt-table {
	.table-header {
		li {
			border:none; text-align: center;
		}
	}
	.table {
		li {
			
			&:first-child {
				width:90px; text-align: center;
				li ,.ddTitle {
					text-align: left;
					width: 100%;
				}
				.ddChild {
					min-height: 60px;
				}
			}
			&:nth-of-type(2) {
				width: 70px; text-align: center;
			}
			&:nth-of-type(3) {
				img {
					border:1px solid $grey2; float: left;
					margin-right: 10px;
				}
			}
			&:nth-of-type(4) {
				width: 20%; text-align: center; 
			}
			&:nth-of-type(5) {
				width: 22%;  text-align: center;
			}
		}
	}
}
.back-btn {
	float: right; color: $skyblue; margin-top: 5px;

	&:hover {
		color:$black2;
	}
}
.catelog-search-btn {
	padding:5px 0 10px 0; clear: both;
	.btn-md {
		vertical-align: top; font-size: $font-20;
		margin-left: 5px;
	}
	.search {
		width: 41%; background: $white;
	}
	.search, button {
		margin-bottom: 5px; 
	}
}
.variant-listing {
	.checkbox-col {
		width: 20px; 
	}
	li {
		&:first-child {
			border:none; padding-right: 0;
		}
		&:nth-of-type(2){
			border:none; width: 50px;
			text-align: center;
		}
		&.sku {
			line-height: 25px;
			img {
				float: left; border:1px solid $grey2;
				margin-right: 10px; 
			}
		}
		&:nth-of-type(4){
			text-align: center; 
		}
		&:nth-of-type(5){
			text-align: center; 
		}
		&:nth-of-type(6){
			text-align: center; width: 80px;
		}
		&:nth-of-type(7){
			text-align: center; width: 80px;
		}
		&:nth-of-type(8){
			text-align: center; width: 80px;
		}
		&:nth-of-type(9){
			text-align: center; width: 65px;
		}
		&:nth-of-type(10){
			text-align: center; width: 140px;
		}
	}
}
.quick-add-variant {
	padding:20px 0 15px 0; margin-bottom: 5px;
	border-bottom: 1px solid $grey2; text-align: center;
	button {
		font-size: $font-20;
	}
}
.content-heading {
	.rate-btn-group {
		margin-right: 25px;
	}
}
.rate-remove-group {
	border-bottom: 1px solid $grey2;
	margin-bottom: 2px; padding:15px 0 14px 0;
	.btn-md {
		font-size: $font-20;
		margin-right: 5px;
	}
}
.catelog-rate-table {
	.table {
		width: 1860px;
		li {
			&:first-child {
				padding-right:0; border-right: none;
			}
			&:nth-of-type(2) {
				border-left:none; border-right: none;
				width: 40px; text-align: center;
			}
			&:nth-of-type(3) {
				border-left:none;  
			}
			&+li+li {
				width: 150px;
			}
		}
	}
	.table-header {
		li {
			border:none; text-align: center;
		}
	}
}
.slide-table {
	padding-top: 15px;
}
.slide-paging {
	display: inline-block; width: 100%;
	li {
		float: left;
		&:first-child {
			margin-left:0;
		}
	}
}
.browse-link {
	background: $white; padding:4px 10px; margin-left:-10px;
	border-right:1px solid $grey2;
}
#productform {
	.product-detail-create {
		.text-editor {
			padding-top: 5px; max-width: 100%;
		}
		input, .bs-example {
			max-width: 80%;
		}
	}
	.tab-content {
		margin:10px 0;  
		.tab-content {
			width: 80%;
			input {
				max-width: 100%;
			}
		}	
		.mce-panel {
			width:100% !important;
		}
	}
}
#variantmodal {
	.modal-header {
		border-bottom: 1px solid $grey2;
		margin-bottom: 10px; padding:5px 15px; 
		.modal-title {
			font-size:$font-20; margin-top: 3px; font-weight: 600;
		}
		.icon-remove {
			margin-top: 8px;
		}
	}
	.modal-body {
		padding:5px 15px 10px 15px; max-height: 500px; overflow-y: auto;
	}
	th {
		background: $grey4; border:1px solid $grey2;
	}
	td {
		padding:8px 5px; vertical-align: top;
		span.block {
			float: left; width: 100%; padding-top: 3px;

			&:first-child {
				padding-top:0;
			}
		}
		&:first-child {
			width:152px;
			input  {
				width: 110px;
			}
		}
		&:nth-of-type(2) {
			width: 125px;
		}
		&:nth-of-type(3) {
			width: 140px;
		}
		&:nth-of-type(4) {
			width: 100px;
		}
		&:nth-of-type(5) {
			width: 125px;
		}
		&:nth-of-type(6) {
			width: 135px;
		}
		&:last-child {
			width: 125px;
		}
		input {
			padding:0px 5px; height: 22px; font-size: $font-14; max-width: 128px;
		}
	}
}

.create-btn-row {
	float: left; width:100%;
}
.variant-modal {
	.modal-header {
		padding:15px 25px 5px 25px;
		border-bottom: 1px solid $grey2;
		margin-bottom: 15px;
	}
	.variant-option  {
		border:1px solid $grey2; padding:10px 0;
		margin-bottom: 12px;
	}
	.thumb-img {
		height: 132px; overflow:hidden; overflow-x: auto;  
		margin:4px 0 10px 0;

	    .col-img {
	    	float: left; width: 125px; max-height: 100%; margin-right: 2px;
	    	img {
	    		max-width: 100%;
	    	}
	    }
	}
	.label {
		display: inline-block; width: 30%; vertical-align: top;
	}
}
@media all and(max-width: 1500px) {
	
	.catelog-search-btn  {
		.search  {
			width: 23.8%;
		}
		button {
			width: 18%; overflow:hidden; margin-left: 1%;
			white-space: nowrap; text-overflow: ellipsis;
			font-size: $font-16;
		}
		.btn-md {
			font-size: $font-16;
		}
	}
}

/* product option page */

.optionSelect-wrapper  {	
	.name {
		color: $skyblue; font-size: $font-18; padding-bottom: 10px;
		display: block; width: 100%;
	}
}
.optioncontent-wrapper {
	overflow:hidden;
	.name {
		color: $skyblue; font-size: $font-18; display: block; width: 100%;
	}
	select, input {
		display: inline-block; margin-right: 10px; vertical-align: top; max-width: 240px;
	}
}

/*  Shop vacation page */

.shop-vacation {
	max-width: 730px;
	
	input[type="submit"] {
		min-width: 125px; margin-top: 5px;
	}
	select {
		width: 40%;
	}
}
.manually {
	.check-wrap {
		padding-top: 5px;
	}
}