/* Promotion page */

.detail-box {
	.promotion-couponbox {
		h2 {
			margin-bottom: 8px;
		}
	}
}
.content {
	.remove-btngroup {
		button {
			font-size: $font-18; margin-right: 10px;
			padding:5px 15px;
		}		
	}	
}
.promo-list-table {
	.table {
		ul {
			padding-bottom: 5px;
		}
		li {
			&:nth-of-type(2) {
				width: 50px; text-align: center;
				background: none; border:none;
			}
			.icon-head-cat {
				margin-top: 0; margin-right: 10px;
			}
			&+li+li+li {
				text-align: center;
			}
			&:nth-of-type(3) {
				width: 175px;
			}
			&:nth-of-type(4) {
				width: 115px;
			}
			&:nth-of-type(5) {
				width: 225px;
			}
			&:nth-of-type(6) {
				width: 80px;
			}
			&:nth-of-type(7) {
				width: 80px;
			}
			&:nth-of-type(8) {
				width: 175px;
			}
			&:nth-of-type(9) {
				width: 175px;
			}
			&:nth-of-type(10) {
				width: 40px;
			}
		}
		.check-col {
			padding-left: 0; padding-right: 0; border:none;
			background: transparent; width: 20px;
		}
		.icon-remove {
			color: $grey; cursor: pointer;
		}
		.inactive, .active {
			cursor: pointer; color: $white; min-width: 42px;
			padding:2px 5px; @include border-radius(5px);
			font-size: $font-10; display: inline-block;
		}
		.inactive {
			background: $red-light;
		}
		.active {
			background: $skyblue; 
		}
	}
	.space {
		margin-top: 5px;
	}
	.sp-ten {
		padding-top: 15px;
	}
	.table-header {
		border-top: 1px solid $grey2;
		border-bottom: 1px solid $grey2;
		
		li {
			border:none; padding:10px 10px;
			&:nth-of-type(3) {
				text-align: center;
			}
		}
	}
	.table-content {
		li {
			background: $skyblue5;
		}
	}
}
.remove-btngroup {
	padding:12px 0;
}
.promotion-rulebox {
	border-bottom: 1px solid $grey2; padding:0 0 25px 0;
	display: inline-block; width: 100%; clear: both;
	margin-bottom: 20px;
	h2 {
		padding-bottom: 15px;
	}
	label.col-sm-3 {
		text-align: right;
		padding-right: 0; padding:5px 0 0 15px;
	}
	.form-row {
		padding-bottom: 9px;
	}
	input,textarea,select {
		font-size: $font-16;
	}
	.yes-no {
		padding-top: 5px;
		label {
			margin-right: 10px;
		}
	}
	.date {
		label {
			display: inline-block;  padding:5px 2px 0 2px;
			vertical-align: top;
		}
	}
}
.condition-rulebox {
	border:1px solid $grey2; padding:5px 10px;
	.condition-row {
		padding-bottom: 8px;
	}
	.chkproduct-row {
		padding:2px 0 10px 0;
		.skyblue {
			padding:2px 5px;
		}
		.icon-remove {
			cursor: pointer; color: $grey; font-size: $font-10;
		}
	}
}
.detail-box {
	.promotion-rulebox {
		input[type="text"],select {
			width: 175px;
		}
		textarea {
			max-width: 400px; 
		}
		.tab-box {
			max-width: 575px;  margin-top: 14px;

			input[type="text"] {
				width: 100%;
			}
		}
	}
	.condition-row {
		.custom-select {
			width: 225px;
		}
	}
	.chkproduct-row {
		.custom-select  {
			width: 110px;
		}
	}
}
.btn-group-promo {
	padding-bottom: 15px;
	button {
		font-size: $font-20;
	}
}
.promotion-couponbox {
	h2 {
		border-bottom: 1px solid $grey2;
		padding-bottom: 4px; 
	}
	.form-row {
		button {
			margin-top: 5px; min-width: 125px;
		}
	}
}
.promotion-coupon-table {
	border-top: 1px solid $grey2; margin-top: 20px;
	padding-top: 15px;
	.select-tag-btn {
		> a {
			margin-top: 5px;
		}
		button {
			font-size: $font-18; margin-left: 10px;
		}
	}
	.select-tag-btn {
		overflow: hidden;
	}
	.table-wrapper {
		width: 100%; max-width: 918px;
	}
	.table {
		li {
			text-align: center;
			&:first-child {
				width:20px; text-align: center;
				padding:9px 5px;
			}
			&:nth-of-type(2) {
				width: 32px; text-align: center;
			}
			&:nth-of-type(3){
				text-align: left; width: 280px;
			}
			&:nth-of-type(4){
				width: 180px;
			}
			&:nth-of-type(5) {
				width: 160px;
			}
			&:nth-of-type(6) {
				width: 170px;
			}
		}
	}
	.table-header {
		li {
			border:none;
		}
	}
	.table-content {
		li {
			&:first-child,&:nth-of-type(2) {
				border-right:none;
			}
			&:nth-of-type(2),&:nth-of-type(3) {
				border-left: none
			}
		}
	}
	.pagination {
		padding-top: 18px;
	}
}
