/* Purchase page */

.review-box {
	border:1px solid $grey2; position: relative;
	padding: 15px 10px 15px 30px; margin-bottom: 15px;

	&.review-box {
		.review-select-row {
			margin-bottom: 5px;
		}
	}
	.sno {
		border:1px solid $grey2; width: 30px; height: 30px;
		float: left; text-align: center; position: absolute;
		top:-1px; left: -1px; line-height: 30px;
		background: $skyblue; color: $white; font-family: $font-cloud-b;
		font-size: $font-22;
	}
	.rating-row {
		border-bottom: 1px solid $grey2; margin-bottom: 12px; padding-bottom: 10px;
		&:after {
		clear: both;
	    content: "";
	    display: block;
	    height: 0;
	    visibility: hidden;
	    width: 100%;
		}
		&:last-child {
			border-bottom: none; margin-bottom: 0; padding-bottom: 3px;
		}
		.rating-col {
			float: left; width: 50%; padding-right: 10px; margin:10px 0;	
			&:nth-of-type(odd), &:first-child {
				padding-right: 10px; 
				border-right: 1px solid $grey2;
			}
			&:nth-of-type(2n){
				padding-left: 10px; padding-right: 0;
			}
			&.borderhide {
				border:none;
			}
		}
	}
	.rating-col {
		.product-item {
			float: left; width: 60%;
		}
		.rating {
			float: right; width: 40%;
			>label:before {
				font-size:26px; margin-left: 5px; margin-right: 0px;
			}
		}
	}
}
.anyComment {
	clear: both; padding-bottom: 5px; padding:2px 0 6px 0;
	line-height: 18px;
	.label {
		float: right;
	}
}
.review_book_wrapper {
	.help-content {
		top: 0;
	}
}
.review-wrapper {
	width: 75.5%;
}
.review-select-row {
	margin-top: 22px; border-bottom: 2px solid $grey;
	line-height: 22px; display: table; width: 100%;
	padding-bottom: 2px; margin-bottom: 12px;
	
	.order-num ,.radio-wrap {
		float: left; margin:0 20px 5px 0;
	}
	.order-num {
		color: $skyblue; font-size: $font-22;
	}

	.radio-wrap {
		font-size: $font-16;
	}
	.time {
		float: right; font-size: $font-14;
	}
}
.product-item {
	display: table; width: 100%;
	.prod-img {
		float: left; width: 40px;
		img {
			border:1px solid $grey2; max-width: 40px;
		}
	}
	.prod-desc {
		margin-left: 55px; font-size: $font-14;
		
		.size {
			display: block; margin-top: 6px; 
		}
	}
}
.feedtext-wrapper {
	display: table; width: 100%;
	textarea, .btn-md {
		display: table-cell; height: 38px; vertical-align: top;
		margin-top: 0; width: 60%;
	}
	.btn-md {
		margin-left: -1px; width: 40%;
	}
}
.rating-row-new {
	border-bottom: 1px solid $grey2;
	margin-bottom: 12px; overflow: hidden;
	padding-bottom: 10px;
}
.rate-comment {
	.label {
		display: block; font-size: $font-12; padding-bottom: 3px;
	}
	.rating {
		float: left; 
		>input {
			display: none;
		}
		>label {
			color: #ddd; 
			float: right; cursor: pointer; 

			&:before { 
			  margin-right: 12px; margin-top: 3px;
			  font-size: 45px;
			  font-family: FontAwesome;
			  display: inline-block;
			  font-family: 'FontAwesome';
			  content: "\f005";
			}
		}
		> .half:before { 
			font-family: 'FontAwesome';
			content: "\f089";
			position: absolute;
		}
	}
	.comment {
		float: right; width: 60%;

		label {
			padding-bottom: 5px; display: block;
		}
	}
}
.reviewAll-Wrapper {
	.rating-row {
		display: none;
		&.first {
			display: block;
		}
	}
}


/****** Style Star Rating Widget *****/

/*@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);*/


.rating > input:checked ~ label{ color: #FFD700;  } 

/* Review History Page */

.review-history {
	.shop-detail-container {
		border:1px solid $grey2; margin-bottom: 15px; overflow:hidden; 
	}
}
.product-shop-img {
	float: left; margin-right: 10px;
	img {
		border:1px solid $grey2;
	}
}
.shop-detail-container {
	padding:10px 0; font-size: $font-14;
	.product-shop-name {
		h3 {
			font-size: $font-14; color: $skyblue; margin-bottom: 5px;
		}
		.update-time {
			color: $skyblue; margin-left: 15px;
		}
	}
}
.shop-detail {
	clear: both; display: table; width: 100%; padding-top: 10px;

	.shop-detail-column {
		display: table-cell; width: 25%; text-align: center; border-left: 1px solid $grey2;

		.block {
			font-size: 26px; color: $skyblue;
		}
		&:first-child {
			text-align:left; border-left: none;
		}
		>span {
			&:first-child {
				padding-bottom:3px; display: block;
			}
		}
	}
	.five-star {
		padding-top: 6px;
	}
}
.review-his-comment {
	textarea {
		width: 100%; height: 60px; background: $grey4;
	}
}
.review-search {
	overflow: hidden;
	input[type="text"] {
		max-width: 450px; float: right; background: $white;
	}
}
.total-ord {
	padding-bottom: 10px;
	.totals {
		padding-top: 20px; float: left;
	}
}
.icon-arrow-right2, .icon-arrow-left2 {
	font-family: "spinshopping_gen" !important;
}